body {
	background-color: red;
	font-size: 100%;
}

#popupuser {
	
}

#username {
	
}

#startgame {
	margin-left: -10px;
	margin-top: 25px;
	padding: 5px;
	width: 101px;
	height: auto;
	background-color: green;
}

#maincontent {
	position: absolute;
	background-color: silver;
	left: 20%;
	right: 20%;
	top: 20%;
	bottom: 20%;
	width: auto;
	height: auto;
}

#maincontent3 {
	position: absolute;
	background-color: silver;
	left: 20%;
	right: 20%;
	top: 20%;
	bottom: 20%;
	width: auto;
	height: auto;
}

.fields {
	background-color: green;
	width: 15vh;
	height: 15vh;
	
	position: absolute;
}

.clear {
	clear: both;
}

#feld1 {
	left: 0%;
}

#feld2 {
	left: 50%;
	margin-left:-7.5vh;
	background-color: yellow;
}

#feld3 {
	right: 0%;
}

#feld4 {
	top: 50%;
	margin-top: -7.5vh;
}

#feld5 {
	left: 50%;
	top: 50%;
	margin-left: -7.5vh;
	margin-top: -7.5vh;
}

#feld6 {
	right: 0%;
	top: 50%;
	margin-top: -7.5vh;
}

#feld7 {
	bottom: 0%;
}

#feld8 {
	left: 50%;
	margin-left: -7.5vh;
	bottom: 0%;
}

#feld9 {
	right: 0%;
	bottom: 0%;
}