body {
	background-color: black;
	font-size: 50px;
}

#popupuser {
	
}

#username {
	
}

#startgame {
	margin-left: -10px;
	margin-top: 25px;
	padding: 5px;
	width: 101px;
	height: auto;
	background-color: green;
}

#maincontent {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 10%;
	bottom: 10%;
	width: auto;
	height: auto;
}

.fields {
	background-color: green;
	width: 32%;
	height: 25vh;
	position: absolute;
	border-radius: 2vmin;
}
#feld1 {
	left: 0%;
}
#feld2 {
	left: 50%;
	margin-left: -16%;
	background-color: yellow;
}
#feld3 {
	right: 0%;
}
#feld4 {
	top: 50%;
	margin-top: -12.5vh;
}
#feld5 {
	left: 50%;
	top: 50%;
	margin-left: -16%;
	margin-top: -12.5vh;
}
#feld6 {
	right: 0%;
	top: 50%;
	margin-top: -12.5vh;
}
#feld7 {
	bottom: 0%;
}
#feld8 {
	left: 50%;
	margin-left: -16%;
	bottom: 0%;
}
#feld9 {
	right: 0%;
	bottom: 0%;
}