@media ( max-width : 800px) {
	body {
		margin: 0;
	}
	#fields {
		position: absolute;
		top: 2%;
		left: 0%;
		right: 0%;
		height: 70vh;
		width: auto;
	}
	.fields {
		width: 32.3%;
		height: 25vh;
		position: absolute;
		font-size: 50px;
		-webkit-border-radius: 2vmin;
		-moz-border-radius: 2vmin;
		border-radius: 2vmin;
	}
	#menu {
		position: absolute;
		top: 74vh;
		left: 0%;
		right: 0%;
		height: 300px;
		-webkit-border-radius: 2vmin;
		-moz-border-radius: 2vmin;
		border-radius: 2vmin;
		background-color: black;
	}
	#messagewindow {
		position: absolute;
		padding: 0.25em;
		top: 0%;
		bottom: 0%;
		left: 45%;
		right: 0%;
		background-color: white;
	}
}