body {
		background-color: yellow;
	}
#menu {
	background-color: yellow;
}


@media (max-width: 480px) {
	body {
		background-color: yellow;
	}
	#fields {
		position: absolute;
	}
	#menu {
		width: auto;
	}
	.main,.sidebar {
		float: none; /* Floats aufheben */
	}
}

@media screen and (min-width: 1200px) { /* >= 1200px */
	#page {
		width: 1080px; /* 1200px - 10% für die margins */
	}
}
