<!DOCTYPE html>
<html>
<head>
<title>webtech games</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/index-css.css")'>
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/login-css.css")'>
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/responsive-css.css")'>
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/app.css")'>
</head>
<body>
	<div id="notify"></div>
	<div class="login">
		<h1>Login</h1>
		<form action="#">
			<input class="textlength" type="text" name="username" id="username" placeholder="username"> <input id="password" class="textlength" type="password" name="password" placeholder="password">
			<div>
				<input type="button" value="log in" id="login">
				<p id="or">or</p>
				<input type="button" value="create" id="create">
			</div>
		</form>
	</div>
	<div id="manual" class="corners">
		So funktionierts: <br>
		<h2>1. Registrierung</h2> <br>
		Neu im Spiel? Dann erstell dir einen neuen Benutzeraccount unter "create", 
		denk dir ein Benutzername und Passwort aus und schon kannst du dich ins Getümmel schmeißen! <br> 
		<h2>2. Das Spiel</h2> <br>
		Deine Gegenspieler und du müssen in insgesamt 10 Runden gegeneinander antreten, 
		wer am schnellsten alle Runden abgeschlossen hat wird zum Sieger des Spiels 
		erklärt! Sollten im Laufe des Spiels alle anderen Mitspieler abgebrochen haben, 
		wird der letzt verbleibende Spieler zum Sieger erklärt solange er das Ende des 
		Spiels erreicht. Die besten Spieler werden in der "Hall of Fame" gewürdigt, 
		hast du das Zeug um Champion? <br>
		Die Steuerung erfolgt über Maus oder dem Touchscreen.<br>
		Das Spielprinzip ist dabei so einfach wie auch genial: <br>
		In einem Feld aus 3x3 Kreisen werden pro Runde einige dieser Kreise mit 
		einem blauen Ring umrandet. Durch das Anklicken/Antippen aller umrandeten 
		Kreise gelangst du in die nächste Runde, doch Vorsicht: Solltest du aus 
		Versehen einen nicht umrandeten Kreis ausgewählt haben, erhältst du eine 
		Strafsperre von einer Sekunde!<br>
		Die Reihenfolge in der diese Kreise angetippt werden spielt keine Rolle, 
		es zählt nur die Geschwindigkeit! Werde Meister der Kreise und besiege deine 
		Gegner mit Geschicklichkeit.<br>
		Es ist ebenfalls möglich mit deinen Mitstreitern in Kontakt zu treten, 
		sei es über die Chatbox links neben dem Spielfeld oder über die 
		Tastenkombination "STRG + Y". <br><br>
		Viel Spaß und Erfolg beim Spiel wünschen euch <br>
		Dennis, Joseph und Julian! <br>
	</div>
	<div id="menu" class="corners">
		<input type="button" id="logout" class="logoutbutton" value="logout">
        <div id="highscore"></div>
		<div id="messagewindow" class="corners">
			<div id="chat-content"></div>
			<div id="chat" class="corners">
				<input type="text" id="textfeld" placeholder="Nachricht:">
			</div>
		</div>
	</div>
	<div id="fields">
		<div id="feld1" class="fields corners" data-number="1">
			<span>1</span>
		</div>
		<div id="feld2" class="fields corners" data-number="2">
			<span>2</span>
		</div>
		<div id="feld3" class="fields corners" data-number="3">
			<span>3</span>
		</div>
		<div id="feld4" class="fields corners" data-number="4">
			<span>4</span>
		</div>
		<div id="feld5" class="fields corners" data-number="5">
			<span>5</span>
		</div>
		<div id="feld6" class="fields corners" data-number="6">
			<span>6</span>
		</div>
		<div id="feld7" class="fields corners" data-number="7">
			<span>7</span>
		</div>
		<div id="feld8" class="fields corners" data-number="8">
			<span>8</span>
		</div>
		<div id="feld9" class="fields corners" data-number="9">
			<span>9</span>
		</div>
	</div>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.js")'></script>
	<script src='@routes.Assets.at("javascripts/WebSockets.js")' type="text/javascript"></script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/index-js.js")'></script>
</html>
