<!DOCTYPE html>

<html>
    <head>
        <title>Just Play! Java</title>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-ui-1.10.4.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/index-js.js")'></script>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/index-css.css")'>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/jquery-ui-1.10.4.css")'>
    </head>
    <body>
        <h1>Just Play! YOU little player</h1>

    	<!-- <div id="popupuser" title="Username eingeben:">
			<input type="text" name="username" id="username" />
			<div id="startgame">Spiel starten</div>
		</div> -->
		
		<!-- <div id="container"> -->
        <div id="maincontent3">
        	<div id="feld1" class="fields" data-number="1">nummer 1</div>
        	<div id="feld2" class="fields" data-number="2">nummer 2</div>
        	<div id="feld3" class="fields" data-number="3">nummer 3</div>
        	<div id="feld4" class="fields" data-number="4">nummer 4</div>
        	<div id="feld5" class="fields" data-number="5">nummer 5</div>
        	<div id="feld6" class="fields" data-number="6">nummer 6</div>
        	<div id="feld7" class="fields" data-number="7">nummer 7</div>
        	<div id="feld8" class="fields" data-number="8">nummer 8</div>
        	<div id="feld9" class="fields" data-number="9">nummer 9</div>
        </div>
        <!-- </div> -->
        
</html>
